:root {
  --bg-light: rgb(177, 202, 214);
  --bg-dark: rgba(9, 49, 71, 0.5);
  --hover: rgb(163, 184, 194);
  --lightgray: #dedede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light);
}

button:hover {
  background-color: var(--hover);
  cursor: pointer;
}

.cell {
  background-color: var(--lightgray);
}
