:root {
  --bg-light: rgb(219, 205, 191);
  --darkblue: rgb(9, 49, 71);
  --cell: rgb(106, 151, 160);
  --hover: rgb(131, 154, 164);
  --border: #bcbcbc;
  --hit: #c41000;
  --miss: #dadada;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--darkblue);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-light);
}

button:hover:enabled {
  background-color: var(--hover);
  cursor: pointer;
}

header {
  margin: 50px;
}

#game {
  display: grid;
  grid-template-columns: 1fr 200px;
  gap: 50px;
}

.gameboard {
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-bottom: 50px;
}

.axis:first-of-type {
  grid-column: 1 / 3;
  display: flex;
}

.axis * {
  width: 50px;
  height: 50px;
  align-content: center;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  grid-template-rows: repeat(10, 50px);
  border: 2px solid var(--border);
}

.cell {
  background-color: var(--cell);
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  border-bottom: none;
  border-right: none;
}

.player.gameboard .ship {
  background-color: var(--darkblue);
}

.hit {
  background-color: var(--hit);
}

.miss {
  background-color: var(--miss);
}

.stats {
  text-align: center;
  padding: 130px 0;
}

ul {
  list-style-type: none;
  margin: 50px 0;
}

li {
  font-size: 20px;
  padding: 10px;
}

.strikethrough {
  text-decoration: line-through;
}
